body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
}

p {
  font-size: 20px;
}
header #logo {
  text-align: center;
  font-size: 50px;
}

.buttons a {
  text-decoration: none;
  background: white;
  padding: 15px;
  border-radius: 4px;
  color: #111;
  font-size: 15px;
  flex-basis: 100px;
  text-align: center;
}
.buttons a:hover {
  background-color: #e21;
  color: white;
  transition: all 0.3s linear;
}

.buttons {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 20px auto;
}
#barrinha {
  background: #e21;
  width: 50px;
  height: 5px;
  grid-column: 2;
  position: relative;
  top: 20px;
  right: 25px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sobre {
  padding: 40px;
  text-align: end;
  background: white;
}

.sobre a {
  text-decoration: none;
  background: #e21;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.sobre a:hover {
  background-color: #c6c6c6;
  color: #111;
  transition: all 0.3s linear;
}

.sobre p {
  flex-grow: 1;
  flex-shrink: 0;
}

#bik {
  margin: 0;
  font-size: 64px;
  color: #c6c6c6;
  text-align: end;
  justify-self: center;
  align-self: center;
}

.vantagem-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 10px;
  position: relative;
}

.vantagem-item span {
  font-weight: bold;
}

.vantagem-item img {
  width: 20px;
}

.vantagem-item p {
  margin: 0;
  grid-column: 2;
}

.vantagens {
  padding: 40px;
  background: white;
}

.vantagem-item::after {
  content: " ";
  height: 0%;
  width: 4px;
  background: #e21;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.vantagem-item:hover::after {
  height: 90%;
}

footer {
  background-color: #fff;
  color: #000000;
  margin-top: 120px;
  padding: 20px;
  text-align: center;
  position: relative;
}

@media (max-width: 1000px) {
  .container-vantagens {
    grid-template-columns: 1fr;
  }

  #bik {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  #barrinha {
    display: none;
  }

  .sobre {
    text-align: left;
    justify-items: start;
  }
}
@media (max-width: 400px) {

  #bik {
    font-size: 40px;

  }
  p {
    font-size: 1rem;
  }
}